.menu {
  /* background-color: green; */
  width: 100%;
  height: 90px;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-around;
}

.menu-links {
  /* background-color: blue; */
  width: 40%;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu-links a {
  /* background-color: yellow; */
  width: 150px;
  padding: 13px;

  border-radius: 5px;

  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.menu-pontos {
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 30%;
  height: 80px;
}

.menu-pontos div {
  /* background-color: red; */

  width: 150px;
  height: 50px;
  padding: 10px;

  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 20px;
  color: #fff;
}

.menu-pontos div img {
  width: 60px;
}

.menu-pontos p {
  margin: 0px;
}

@media (max-width: 800px) {
  .menu {
    flex-direction: column;
    height: auto;
    padding: 15px 0;
    gap: 20px;
    align-items: center;
  }

  .menu-links {
    width: 100%;
    justify-content: center;
    gap: 16px;
  }

  .menu-pontos {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .menu-pontos>span:first-of-type {
    margin-bottom: 12px;
    /* Aumenta o espaço abaixo do "Summon" */
    font-size: 18px;
  }

  .menu-pontos div {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
  }
}