* {
  margin: 0px;
  padding: 0px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #121419;
}

.teste {
  width: 100%;
  /* position: fixed;
  background-color: red; */
}

.nav {
  gap: 30%;
  align-items: center;
  height: auto;
  display: flex;
  margin-top: 10px;
}

.nav li p {
  margin: 0px;
  text-align: center;
  font-weight: bold;
}

.menu-links {
  display: flex;
}

.menu-pontos {
  display: flex;
  gap: 20px;
}

.cat-menu-pontos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  width: auto;
}

.cat-menu-pontos img {
  width: 50px;
}

.cat-menu-pontos p {
  margin: 0px;
  font-weight: bold;
  color: #fff;
}

.chave-menu-pontos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
  width: auto;
}

.chave-menu-pontos img {
  width: 30px;
}

.chave-menu-pontos p {
  margin: 0px;
  font-weight: bold;
  color: #fff;
}

@media (max-width: 800px) {
  .nav {
    display: flex;
    flex-direction: column-reverse;
    gap: 0px;
  }

  .nav li p {
    font-size: 12px;
  }

  .menu-pontos {
    display: flex;
    width: auto;
  }

  .cat-menu-pontos img {
    width: 25px;
  }

  .chave-menu-pontos img {
    width: 25px;
  }

}