.page-summon {
  background-color: #121212;
  height: 100vh;
}

.container-summon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.container-catch {
  height: auto;
  width: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.carta {
  width: 250px;
  height: 388px;
  border-radius: 5px;
}

.inventario-content {
  width: 50%;
}

.inventario-cartas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  gap: 30px;
  height: 700px;
}

.inventario-cartas div p {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inventario-cartas img {
  width: 250px;
  height: 388px;
  border-radius: 5px;
}

.nome-link-carta {
  display: flex;
  flex-direction: row;
  max-width: 200px;
  align-items: center;
  justify-content: space-between;
}

.btn-catch {
  width: 200px;
  height: 50px;
  border-radius: 3px;
  font-weight: bold;
  border: 0px;
}

.btn-catch:hover {
  background-color: #0d6efd;
  color: #FFF;
  transition: 0.5s;
}

.carta-lendaria {
  border: 5px solid rgb(255, 228, 77);
  border-radius: 3px;
  box-shadow:
    0 0 10px #e5f15b,
    0 0 40px #ffd900;

  animation: colors-lendaria 2s ease infinite;
}

@keyframes colors-lendaria {
  0% {
    box-shadow:
      0 0 10px #e5f15b,
      0 0 40px #FFCD05;
  }

  50% {
    box-shadow:
      0 0 10px #e5f15b,
      0 0 40px #F69944;
  }

  100% {
    box-shadow:
      0 0 10px #e5f15b,
      0 0 40px #FFCD05;
  }
}

*::-webkit-scrollbar {
  width: 9px;
}

*::-webkit-scrollbar-track {
  background: #121419;
}

*::-webkit-scrollbar-thumb {
  background: #121419;
  border-radius: 20px;
  height: 100px;
  border: 1px solid #0d6efd;
}


.carta-epica {
  border: 5px solid rgb(165, 71, 191);
  border-radius: 3px;
  box-shadow:
    0 0 10px #a15bf1,
    0 0 40px #ff01f2;

  animation: colors-epica 2s ease infinite;
}

.filtro-raridade {
  /* background-color: red; */
  color: #fff;
  display: flex;
  gap: 10px;
  overflow: auto;
  margin: 10px;
}

@keyframes colors-epica {
  0% {
    box-shadow:
      0 0 10px #a15bf1,
      0 0 40px #ff35e1;

  }

  50% {
    box-shadow:
      0 0 10px #a15bf1,
      0 0 40px #ff1aa4;
  }

  100% {
    box-shadow:
      0 0 10px #a15bf1,
      0 0 40px #ff35e1;
  }
}

.carta-rara {
  border: 5px solid rgb(33, 181, 235);
  border-radius: 3px;
  box-shadow:
    0 0 10px #899cec,
    0 0 20px #5b79f1;
}

.carta-incomun {
  border: 5px solid rgb(0, 248, 83);
}

.carta-comum {
  border: 5px solid rgb(200, 200, 200);
}

.carta-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: pulse 1s infinite;
  color: #fff;
  width: 250px;
  height: 388px;
  font-weight: bold;
  font-size: 1.2rem;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

@media (max-width: 800px) {
  .container-summon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 40px;
  }

  .container-catch {
    width: auto;
  }

  .carta {
    width: 130px;
    height: 208px;
    border-radius: 5px;
  }

  .inventario-content {
    width: 90%;
  }

  .inventario-cartas {
    width: auto;
    height: 300px;
    display: flex;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .inventario-cartas img {
    width: 130px;
    height: 208px;
    border-radius: 5px;
  }

  .btn-catch {
    width: 150px;
    height: 40px;
  }

  .carta-loading {
    width: 130px;
    height: 208px;
    font-size: 10px;
  }

  .filtro-raridade {
    scrollbar-width: none
  }

}