.alert {
  display: flex;
  justify-content: space-around;
}

.alert img {
  width: 60px;
}

.button-alerta {
  border: 0px;
  margin-left: 15px;
  border-radius: 100px;

  width: 30px;
  height: 30px;

  color: rgb(0, 0, 0);
  font-weight: bold;
}

@media (max-width: 800px) {
  .alert img {
    width: 50px;
  }

  .alert {
    font-size: 9px;
    font-weight: bold;
  }

  /* .alert {} */
}