.button-alerta {
  border: 0px;
  margin-left: 15px;
  border-radius: 100px;

  width: 30px;
  height: 30px;

  color: black;
  font-weight: bold;
}

@media (max-width: 800px) {
  .alert {
    width: 300px;
  }

  .alert img {
    width: 20px;
  }
}